/.idea/uiDesigner.xml
/.idea/misc.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/.class

*.class
/.idea/codeStyles/Project.xml
/.idea/jarRepositories.xml
/.idea/vcs.xml
/.idea/workspace.xml
